
body{
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 720px;
}

ul li{
    float: left;
    background: url(../Imagens/imagens/aba-direita2.png) no-repeat top right;
}

li a{
    display: block;
    padding: 0 2em;
    line-height: 3em;
    text-decoration: none;
    background: url(../Imagens/imagens/aba-esquerda2.png) no-repeat top left;
    color: #FFF;
}

ul a:hover{
    color: #894a1f;
}

ul #atual{
    background: url(../Imagens/imagens/aba-direita-atual.png) no-repeat top right;
}

ul #atual a{
    background: url(../Imagens/imagens/aba-esquerda-atual.png) no-repeat top left;
}

