/* .caixa{
    border: 1px solid forestgreen;
    width: 400px;
    background: #DEDEDE url(../Imagens/imagens/topo2.png) no-repeat left top;
}

.caixa h2{
    padding: 10px 20px 0 20px;
}

.caixa p{
    padding: 0px 20px 20px 20px;
    background: url(../Imagens/imagens/baixo2.png) no-repeat left bottom;
} */


.caixa{
    /* border: 1px solid forestgreen; */
    width: 400px;
    /* height: 46px; */
    background: url(../Imagens/imagens/fundo-arredondamento.png) repeat-y;
}

.caixa h2{
    /* border: 1px solid fuchsia;  */
    padding: 10px 20px 20px 20px;
    background: url(../Imagens/imagens/topo2.png) no-repeat left top;
}

.caixa p{
    padding: 0 20px;
}

.caixa .ultimo{
    padding-bottom: 20px;
    background: url(../Imagens/imagens/baixo2.png) no-repeat left bottom;
}

