body{
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
}

fieldset{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
    background: #F8F8F8;
}

legend{
    font-weight: bold;
}

label{
    display: block;
    cursor: pointer;
    margin: 5px;
}

input {     /* input [type="text"]{ */
    width: 20em;
}

.radio{
    width: auto;
    margin-right: 1em;
}

textarea{
    width: 30em;
    height: 10em;
}

