body{
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    background: #643D87 url(../Imagens/imagens/background.jpg) no-repeat top center;
}

#container{
    border: 1px solid white;
    width: 400px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center; /* para centralizar dentro do container eu posso utilizar o text-align: center */
}

#container img.imagemperfil{
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}

input{
    width: 85%;
    height: 40px;
    font-size: 15px;
    margin-bottom: 10px;
    background-color: #FFF;
    padding-left: 30px;
    border: none;
    background-repeat: no-repeat;
    background-position: 5px;

}

#container .imagememail{
    background-image: url(../Imagens/imagens/icone-usuario.png);
    
}

#container .imagemsenha{
    background-image: url(../Imagens/imagens/icone-cadeado.png);
}

#container .submeter{
    color: #FFF;
    background-color: #F79300;
    border: 2px solid #DB7D00;
    padding: 5px 20px;
    height: 45px;
    width: 93%;

    background: -webkit-linear-gradient(to bottom, #FAA600, #F68A00);
    background: -moz-linear-gradient(to bottom, #FAA600, #F68A00);
    background: -o-linear-gradient(to bottom, #FAA600, #F68A00);
    background: linear-gradient(to bottom, #FAA600, #F68A00);
}