/* Herança e Especificidade */

/*
body{
    color: red;
    font-size: 25px;
    border: 1px solid blue;
    background: grey;
}

p{
    color: blue !important;
}

p{
    color: purple;
}
*/

*{
    color: yellowgreen;
}

h2{
    color: forestgreen;
}

p.verde{
    color: forestgreen;
}

p.verde#amarelo{
    color: chartreuse;
}
