/* Layouts Fixo e Líquido */
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #f2f2f2;

}

#container{
    width: 85%;    /* width: 720px; */
    margin: 0 auto;
    background: #FFF;
    min-width: 720px;
    min-height: 650px;
}

#marca{
    height: 400px;
    background: #9E9E9E url(../Imagens/imagens/cabecalho.jpg) no-repeat center;
    text-align: center;
    line-height: 400px;
}

/* Leitores de tela lerão o conteúdo primeiro que a navegação, pois veio primeiro na ordem escolhida, isso é bom quanto à Acessibilidade */
#conteudo{
    width: 74%; /* width: 520px; */ /*soma-se com 180px para igualar a 700px com sobre de 20px do container */
    float: right;

}

#conteudo-principal{
    float: left;
    width: 63%;  /* width: 320px; */
    padding: 5px;
}

.imagem{
    width: 90%;
    /* overflow: hidden; */
    
}

img.imagem-natureza{
    width: 96%;
    padding: 2%;
    max-width: 640px;
}

#conteudo-secundario{
    float: right;
    width: 34%;  /* width: 180px; */
    background: #D1D1D1;
}

#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p{
    padding: 10px;
}

#navegacao{
    width: 25%;  /* width: 180px; */ /*soma-se com 520px para igualar a 700px com sobre de 20px do container */
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #D1D1D1;
}

#navegacao ul{
    list-style-type: none;
}

#navegacao li a{
    text-decoration: none;
}

#rodape{
    clear: both;
    background: #C4C4C4;
    padding: 5px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

