#noticia{
    background: gray;
    padding: 10px;
    border: 3px solid green;
}

h1{
    border: 2px white solid;
    margin: 0px; /* <h2> já possui uma margin padrão */
}

.conteudo1{
    border: 2px solid #00F;
    
    /*
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    */

    /* padding: 40px 30px 20px 15px; */

    /* padding: 30px 15px; <!-- 30px top and bottom, 15px right and left --> */

}

.conteudo2{
    border: 1px solid #F00;
    /* margin: 40px; */

    /*     
    margin-top: 15px;
    margin-right: 50px;
    margin-bottom: 25px;
    margin-left: 20px; 
    */


}