/* Customização da lista, da barra vertical e da barra horizontal */
/*
ul{
    list-style-type: none; /* retira as bolinhas pretas da frente da lista */ /*
    margin: 0;
    padding: 0;
}
*/

/*
li{
    padding: 7px 20px;
    background: url(../Imagens/imagens/seta.png) no-repeat left center;
}
*/

/*
li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
*/


/* Barra Vertical */
/*
li a{
    display: block;
    width: 200px; /* TAG <a> é elemento inline, logo preciso forçá-la a ser block */ /*
    height: 40px;
    color: #000;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    background: #f7b600 url(../Imagens/imagens/menu.png) no-repeat left bottom;
}
*/

/*
a:hover{
    background-position: right bottom;
    color: #FFF;
    background-color: #f99200;
}
*/

/*
#home .home a, 
#servicos .servicos a,
#produtos .produtos a, 
#noticias .noticias a, 
#contato .contato a{
    background-position: right bottom;
    color: #FFF;
    background-color: #f99200;
}
*/



/* Barra Horizontal */
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 720px;
    background: #159cb0 url(../Imagens/imagens/fundo-horizontal.png) repeat-x;
    float: left;
}

ul li{
    float: left;
}

ul a{
    display: block;
    padding: 0 2em;
    line-height: 2.5em;
    text-decoration: none;
    color: #FFF;
    background: url(../Imagens/imagens/divisor.png) repeat-y left top;
}

ul .primeiro a{
    background: none;
}

ul a:hover{
    color: #085662;
    background: #44cade;
}

#home .home.primeiro a,
#servicos .servicos,
#produtos .produtos,
#noticias .noticias,
#contato .contato
{
    color: #FFF;
    background: purple;
}