    /* Seletor Universal */
    *{
        border: 1px solid white;
        background: #AAA;
    }

    /* Seletor de Texto */
    h1{
        color: chartreuse;
    }

    /* Seletor de Classe */
    p.roxo{
        color: purple;
    }
 
    /* Seletor de ID */
    #rosa{
        color: fuchsia;
    } 


    /* Seletor de Filho */
    li>a{
        color: yellow;
        text-decoration: none;
    }

    /* Seletor de Descendente */
    li a{
        color: rebeccapurple;
    }

    /* Seletor de Irmão Adjacente */
    h1+p{
        color: crimson;
    }

    /* Seletor de Irmão Geral */
    h1~p{
        color: forestgreen;
    }