body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table{
    /* border-collapse: separate, collapse */
    border-collapse: collapse;
    width: 600px;
}

th, td{
    padding: 7px;
}

th{
    text-transform: uppercase;
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    text-align: left;
    font-size: 90%;
    letter-spacing: 0.1em;
}

tr.alternado{
    background-color: #EFEFEF;
}

tr:hover{
    background: #C3E6E5;
}

.preco{
    text-align: right;
}

