.home .homeimage{
    width: 1000px;
    
}

.conteudo{
    width: 1000px;
}

.biography1, .biography2, .biography3{
    border: 10px solid rgb(30, 30, 128);
}

body{
    background-image: url('/home/alunime/HTML-CSS-20-PROJETOS-CursoWeb20+20/fundo.png');

}

.menu{
    padding: 10px;
}

a{
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

.direitosreservados{
    text-align: center;
    font-size: 20px;
}

.buttonhome, .buttonbiography, .buttonmarketing, .buttoncontact{
    color: grey;
    display: inline-block;
    height: 30px;
}

.biography, .marketing, .contact{
    border-color: fuchsia solid 5px;
    
}

.sobreanna{
    background: #FFF;
    padding:10px;
    
}

h3{
    color: rgb(87, 78, 78);
}
