/* Limpeza de formatações padrões */
*{
    margin: 0px;
    padding: 0px;

}

body{
    font-size: 1em; /* equivale a 16px padrão */
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #e6e6e6;
}


/* Layout */

#area_cabecalho{
    background: #f7b600;
    padding: 15px;
    text-align: center;
}

#area_logo{
    padding: 10px;
}

#principal{
    width: 920px; /* largura padrão para dispositivos modernos com resolução de 1024*/
    margin: 0 auto;
    padding: 15px;
}

#area_postagens{
    width: 660px;
    float: left;
}

#area_lateral{
    width: 240px;
    float: right;
}

#area_rodape{
    clear: both;
    background: #e6e6e6;
    text-align: center;
    padding: 15px;
}

.postagem{
    padding: 20px;
    margin-bottom: 20px;
    background: #FFF;
}

.conteudo_lateral{
    background: #FFF;
    padding: 10px;
    margin-bottom: 20px;
}

h3{
    color: #565656;
    padding: 5px;
    background: #CCC;
}

.postagem_lateral{
    font-size: 0.8em;
    padding: 5px;
    border: 1px dotted #CCC;
}



/* Formatação do Menu */
a{
    text-decoration: none;
}

a:link, a:visited{
    color: #f7b600;
}

a:hover{
    text-decoration: underline;
}

#area_cabecalho a:link, #area_cabecalho a:visited{
    color: #FFF;
    padding: 8px 12px;
}

#area_cabecalho a:hover{
    color: #f7b600;
    background: #FFF;
    text-decoration: none;
}

/* Formatações em Geral */
h1{
    color: #4e4e4e;
    font-size: 2.5em;
}

.branco{
    color: #FFF;
}

.data-postagem{
    font-size: 0.8em;
    border: 1px solid #f4f4f4;
    padding: 0px 10px 10px 0px;
    margin-bottom: 10px;
    display: block;
}

h2{
    color: #f7b600;
}
